
<%- include('./header') -%>

    <div class="page-main">
        <ol class="breadcrumb">
            <li><a href="#">数据分析</a></li>
            <li><a href="#">评分星级</a></li>
        </ol>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">评分最高的电影</div>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover table-border">
                            <thead>
                                <tr>
                                    <th>平均分</th>
                                    <th>电影名称</th>
                                    <th>导演</th>
                                </tr>
                            </thead>
                            <tbody id="ratemax">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">星级指数最高的电影</div>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover table-border">
                            <thead>
                            <tr>
                                <th>星数</th>
                                <th>电影名称</th>
                                <th>导演</th>
                            </tr>
                            </thead>
                            <tbody id="starmax">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $.get('/ratemax',function (data) {
        for (var key in data){
            renderRateMax(data[key]);
        }
    });

    function renderRateMax(obj) {
        var str = '';
        str += '<tr>';
        str += '<td>'+obj.rate+'</td>';
        str += '<td>'+obj.title+'</td>';
        str += '<td>'+obj.director+'</td>';

        $('#ratemax').append(str);
    };

    $.get('/starmax',function (data) {
        for (var key in data){
            renderStarMax(data[key]);
        }
    });

    function renderStarMax(obj) {
        var str = '';
        str += '<tr>';
        str += '<td>'+obj.rate+'</td>';
        str += '<td>'+obj.title+'</td>';
        str += '<td>'+obj.director+'</td>';

        $('#starmax').append(str);
    };



</script>

<%- include('./footer') -%>


