
<%- include('./header') -%>

    <div class="page-main">
        <ol class="breadcrumb">
            <li><a href="#">数据分析</a></li>
            <li><a href="#">评分星级</a></li>
        </ol>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">评分最高的电影</div>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-hover table-border">
                            <thead>
                                <tr>
                                    <th>平均评分</th>
                                    <th>电影名称</th>
                                    <th>导演</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>9.0</td>
                                    <td>泰坦尼克号</td>
                                    <td>詹姆斯·卡梅隆</td>
                                </tr>
                                <tr>
                                    <td>9.0</td>
                                    <td>泰坦尼克号</td>
                                    <td>詹姆斯·卡梅隆</td>
                                </tr>
                                <tr>
                                    <td>9.0</td>
                                    <td>泰坦尼克号</td>
                                    <td>詹姆斯·卡梅隆</td>
                                </tr>
                                <tr>
                                    <td>9.0</td>
                                    <td>泰坦尼克号</td>
                                    <td>詹姆斯·卡梅隆</td>
                                </tr>
                                <tr>
                                    <td>9.0</td>
                                    <td>泰坦尼克号</td>
                                    <td>詹姆斯·卡梅隆</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">星级指数最高的电影</div>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-hover table-border">
                            <thead>
                            <tr>
                                <th>星级指数</th>
                                <th>电影名称</th>
                                <th>导演</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>五星</td>
                                <td>泰坦尼克号</td>
                                <td>詹姆斯·卡梅隆</td>
                            </tr>
                            <tr>
                                <td>9.0</td>
                                <td>泰坦尼克号</td>
                                <td>詹姆斯·卡梅隆</td>
                            </tr>
                            <tr>
                                <td>9.0</td>
                                <td>泰坦尼克号</td>
                                <td>詹姆斯·卡梅隆</td>
                            </tr>
                            <tr>
                                <td>9.0</td>
                                <td>泰坦尼克号</td>
                                <td>詹姆斯·卡梅隆</td>
                            </tr>
                            <tr>
                                <td>9.0</td>
                                <td>泰坦尼克号</td>
                                <td>詹姆斯·卡梅隆</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


<%- include('./footer') -%>


