
<%- include('./header') -%>

<div class="page-main">
    <div class="row">
        <div class="col-md-12">
            <div id="main" style="width: 1000px;height:400px;"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '          截止2016年11月10日数据库数据汇总'
        },
        tooltip: {},
        legend: {
            data:['数量']
        },
        xAxis: {
            data: ["韩国","日本","美国","法国","英国","印度"]
        },
        yAxis: {},
        series: [{
            name: '数量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };



    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

<%- include('./footer') -%>